// COLORS ////////////////////////////////////////////////////////////////////////////////////

$teal:#0584ad;
$teal-darker: #045874;




/////// http://www.network-science.de/ascii/ // Style: doom //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// 	_____ _   _   ___  ______ ___________ 
// /  ___| | | | / _ \ | ___ \  ___|  _  \
// \ `--.| |_| |/ /_\ \| |_/ / |__ | | | |
//  `--. \  _  ||  _  ||    /|  __|| | | |
// /\__/ / | | || | | || |\ \| |___| |/ / 
// \____/\_| |_/\_| |_/\_| \_\____/|___/  
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////








/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ______ _____ _____ _   _______ ___________
// |  _  \  ___/  ___| | / /_   _|  _  | ___ \
// | | | | |__ \ `--.| |/ /  | | | | | | |_/ /
// | | | |  __| `--. \    \  | | | | | |  __/ 
// | |/ /| |___/\__/ / |\  \ | | \ \_/ / |    
// |___/ \____/\____/\_| \_/ \_/  \___/\_|    
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////



@include media(desktop) {

	.row {
		width:$row-width !important // To keep desktop width fixed
	}

	#nav {
		background-color:$teal;
		border-bottom:2px solid $teal-darker;
		.block {
			background-color:$teal
		}
		h1 {
			font-size:em-calc(35)
		}
		ul {
			font-size:em-calc(18);
		}
	}

}




/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ___  ______________ _____ _      _____ 
// |  \/  |  _  | ___ \_   _| |    |  ___|
// | .  . | | | | |_/ / | | | |    | |__  
// | |\/| | | | | ___ \ | | | |    |  __| 
// | |  | \ \_/ / |_/ /_| |_| |____| |___ 
// \_|  |_/\___/\____/ \___/\_____/\____/
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

@include media(mobile) {

	#top {
		background-color:$teal;
		border-bottom:2px solid $teal-darker;
		h1 {font-size:em-calc(16)}
	}

}