@import "_normalize2.1.2", "foundation", "_tools", "_layout";

// COLORS ////////////////////////////////////////////////////////////////////////////////////

$dark-grey: #333333;
$teal: #0584ad;
$teal-darker: #045874;

// FONTS

@mixin deja-regular {
	font-family: "dejarip", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 400;
}
@mixin deja-medium {
	font-family: "dejarip", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 500;
}
@mixin deja-bold {
	font-family: "dejarip", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 700;
}




/////// http://www.network-science.de/ascii/ // Style: doom //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// 	_____ _   _   ___  ______ ___________ 
// /  ___| | | | / _ \ | ___ \  ___|  _  \
// \ `--.| |_| |/ /_\ \| |_/ / |__ | | | |
//  `--. \  _  ||  _  ||    /|  __|| | | |
// /\__/ / | | || | | || |\ \| |___| |/ / 
// \____/\_| |_/\_| |_/\_| \_\____/|___/  
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////


/////// START NAV BAR /////////////////////////////////////////////////////////////////////

.intro-strip {
	background-color:$dark-grey;
	.row {
		background-image: url('../img/player.svg');
		background-repeat: no-repeat;
	}
	.intro {
		color:white;
	}
}

.no-svg .intro-strip .row { // Fallback for non-SVG compliant browsers
		background-image: url('../img/player.png');
	}

/////// END NAV BAR /////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ______ _____ _____ _   _______ ___________
// |  _  \  ___/  ___| | / /_   _|  _  | ___ \
// | | | | |__ \ `--.| |/ /  | | | | | | |_/ /
// | | | |  __| `--. \    \  | | | | | |  __/ 
// | |/ /| |___/\__/ / |\  \ | | \ \_/ / |    
// |___/ \____/\____/\_| \_/ \_/  \___/\_|    
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////



@include media(desktop) {

/////// START NAV BAR /////////////////////////////////////////////////////////////////////

	.intro-strip {
		.row {
			background-size: auto 92%;
			background-position: right bottom;
			padding:em-calc(22) 0;
		}
		.intro {
			padding:0 116px 0 0;
			font-size: em-calc(30);
		}
	}
	#nav {
		background-color:$teal;
		border-bottom:em-calc(2) solid $teal-darker;
		.block {
			background-color:$teal
		}
		h1 {
			font-size:em-calc(35)
		}
		ul {
			font-size:em-calc(18);
		}
	}

/////// END NAV BAR /////////////////////////////////////////////////////////////////////

}



/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ___  ______________ _____ _      _____ 
// |  \/  |  _  | ___ \_   _| |    |  ___|
// | .  . | | | | |_/ / | | | |    | |__  
// | |\/| | | | | ___ \ | | | |    |  __| 
// | |  | \ \_/ / |_/ /_| |_| |____| |___ 
// \_|  |_/\___/\____/ \___/\_____/\____/
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////



@include media(mobile) {

	
/////// START NAV BAR /////////////////////////////////////////////////////////////////////

	.intro-strip {
		.row {
			background-position: 98% bottom;
			background-size: auto 90%;
			padding:em-calc(22) 0;
		}
		.intro {
			padding: 0 23% 0 0;
			font-size: em-calc(24);
			text-shadow: 0 0 4px rgba(0,0,0,1);
		}
	}
	#top {
		background-color:$teal;
		border-bottom:2px solid $teal-darker;
		h1 {font-size:em-calc(16)}
	}
	.nav-btn {
		background: $teal url("../img/nav-icon-1.svg") left center no-repeat;
	}

/////// END NAV BAR /////////////////////////////////////////////////////////////////////

}