@import "_normalize2.1.2", "foundation", "_tools", "_layout";

/////// COLORS /////////////////////////////////////////////////////////////////////

$light-grey:#f1f1f1;
$medium-grey:#dadada;
$dark-grey: #333333;
$teal: #0584ad;
$teal-darker: #045874;

/////// FONTS /////////////////////////////////////////////////////////////////////

@mixin sans-serif-regular {
	font-family: "dejarip", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 400;
}
@mixin sans-serif-medium {
	font-family: "dejarip", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 500;
}
@mixin sans-serif-bold {
	font-family: "dejarip", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 700;
}

@mixin serif-regular {
	font-family: "adobe-text-pro", georgia, times, sans-serif;
	font-weight: 400;
}
@mixin serif-bold {
	font-family: "adobe-text-pro", georgia, times, sans-serif;
	font-weight: 700;
}

@font-face {
  font-family: 'heydings_iconsregular';
  src: url('../fonts/heydings_icons-webfont.eot');
  src: url('../fonts/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/heydings_icons-webfont.woff') format('woff'),
       url('../fonts/heydings_icons-webfont.ttf') format('truetype'),
       url('../fonts/heydings_icons-webfont.svg#heydings_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
 }


/////// http://www.network-science.de/ascii/ // Style: doom //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// 	_____ _   _   ___  ______ ___________ 
// /  ___| | | | / _ \ | ___ \  ___|  _  \
// \ `--.| |_| |/ /_\ \| |_/ / |__ | | | |
//  `--. \  _  ||  _  ||    /|  __|| | | |
// /\__/ / | | || | | || |\ \| |___| |/ / 
// \____/\_| |_/\_| |_/\_| \_\____/|___/  
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

button {
	@include sans-serif-bold;
	color:white;
	border-radius: 10px;
	border:none;
	padding:.7em 1em;
	&:hover {
		a {
			color:white;
		}
	}
	&.grey {
		background-color:$dark-grey;
		&:hover {background-color:#878787}
	}
	a {
		color:white;
		text-decoration:none;
	}
	&.large {
		font-size:em-calc(24);
		color:white;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// NAV BAR /////////////////////////////////////////////////////////////////////

#nav, #nav h1 {
	@include sans-serif-regular;
}



/////////////////////////////////////////////////////////////////////////////////////////////
/////// HOMEPAGE INTRO /////////////////////////////////////////////////////////////////////

.intro-strip {
	background-color:$dark-grey;
	.row {
		background-image: url('../img/player.svg');
		background-repeat: no-repeat;
		padding-top:em-calc(12);
		padding-bottom:em-calc(16);
	}
	h1 {
		@include serif-regular;
		font-style: italic;
		color:white;
	}
}

.no-svg .intro-strip .row { // Fallback for non-SVG compliant browsers
		background-image: url('../img/player.png');
	}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// TOP FILTER BAR /////////////////////////////////////////////////////////////////////


.top-filter-bar {
	@include sans-serif-bold;
	padding: em-calc(20) 0 em-calc(18) 0;
 	background-color:#dce5eb;
 	border-bottom:em-calc(2) solid #acb5bb;
 	form {
 		font-size:em-calc(24);
 		input {
 			width:100%;
 			height: em-calc(37);
 			padding-left:em-calc(8);
 			color:$dark-grey;
 			@include sans-serif-bold;
 			border: 1px solid #aaa;
		  border-radius: 5px;
		  background-color: #fff;
 		}
 	}
 	.chosen-container {
 		width:100% !important;
 		.chosen-results li {
 			padding:em-calc(10);
 		}
 		a.chosen-single {
 			height: em-calc(37);
	 		span {
	 			color: $dark-grey;
	 			margin-top:em-calc(10.5);
	 			margin-left:em-calc(3);
	 		}
	 	}
	 	.chosen-single div b {
 			margin-top: 17px;
 		}
 		.no-results {
 			line-height:1.4;
 		}
 	}
 	.in, .located-in, .show-me {
 		margin-top:em-calc(11);
 		text-align: right;
 	}
 	.in {
 		text-align: center;
 	}
 	.search input {
 		font-family:"heydings_iconsregular"; 
 		width:100%;
 		background-color: $teal;
 		color:white;
 		box-shadow: none;
 		border: none;
 	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// GOOGLE MAP //////////////////////////////////////////////////////////////////////////

.google-map {
	height:500px;
	background:url('../img/sample-google-map.png') no-repeat 50% 25%;
	margin-bottom:em-calc(20);
}


/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ______ _____ _____ _   _______ ___________
// |  _  \  ___/  ___| | / /_   _|  _  | ___ \
// | | | | |__ \ `--.| |/ /  | | | | | | |_/ /
// | | | |  __| `--. \    \  | | | | | |  __/ 
// | |/ /| |___/\__/ / |\  \ | | \ \_/ / |    
// |___/ \____/\____/\_| \_/ \_/  \___/\_|    
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////



@include media(desktop) {

/////////////////////////////////////////////////////////////////////////////////////////////
/////// START NAV BAR /////////////////////////////////////////////////////////////////////

	.intro-strip {
		.row {
			background-size: auto 92%;
			background-position: right bottom;
		}
		h1 {
			padding:0 116px 0 0;
			font-size: em-calc(30);
		}
	}
	#nav {
		background-color:$teal;
		border-bottom:em-calc(2) solid $teal-darker;
		.block {
			background-color:$teal;
		}
		h1 {
			font-size:em-calc(35)
		}
		ul {
			font-size:em-calc(18);
		}
	}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// START NAV BAR ///////////////////////////////////////////////////////////////////////

	.sub-filter-bar {
		padding:em-calc(15) 10px; 
		margin:0 auto em-calc(20) auto;
		border:1px solid $medium-grey;
		background-color:$light-grey;
		.option {
			float:left;
			font-size:em-calc(14);
			margin-right:em-calc(15);
		}
		.filter-by {
			@include sans-serif-bold;
			text-transform: uppercase;
		}
	}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// GAME TILES ///////////////////////////////////////////////////////////////////////


	.game-tiles {
		margin: 0 0 em-calc(20) em-calc(-20);
		.item {
			width:292px;
			position:relative;
			margin-bottom:em-calc(20);
			margin-left:em-calc(20);
			display: inline-block;
			vertical-align:top;
			a, a:hover, a:focus {
				color:$dark-grey;
			}
			.caption {
				position:absolute;
				bottom:0;
				background-color:white;
				opacity:.9;
				width:100%;
				padding:em-calc(10);
				h2 {
					@include sans-serif-bold;
					font-size:em-calc(12);
					text-transform:uppercase;
				}
				h1 {
					@include sans-serif-bold;
					font-size:em-calc(24);
				}
				time {
					@include sans-serif-medium;
					font-size:em-calc(18);
				}
			}
		}
	}
}


/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ___  ______________ _____ _      _____ 
// |  \/  |  _  | ___ \_   _| |    |  ___|
// | .  . | | | | |_/ / | | | |    | |__  
// | |\/| | | | | ___ \ | | | |    |  __| 
// | |  | \ \_/ / |_/ /_| |_| |____| |___ 
// \_|  |_/\___/\____/ \___/\_____/\____/
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////



@include media(mobile) {

	
/////////////////////////////////////////////////////////////////////////////////////////////
/////// NAV BAR /////////////////////////////////////////////////////////////////////

	#top {
		background-color:$teal;
		border-bottom:2px solid $teal-darker;
		h1 {
			@include sans-serif-bold;
			font-size:em-calc(16)
		}
		.block-title {
			font-size:em-calc(35);
		}
		.nav-btn {
			top: 1.7em;
			background: $teal url("../img/nav-icon-1.svg") left center no-repeat;
		}
	}


/////////////////////////////////////////////////////////////////////////////////////////////
/////// HOMEPAGE INTRO /////////////////////////////////////////////////////////////////////

	.intro-strip {
		.row {
			background-position: 98% bottom;
			background-size: auto 90%;
		}
		h1 {
			padding: 0 23% 0 0;
			font-size: em-calc(30);
			text-shadow: 0 0 4px rgba(0,0,0,1);
		}
	}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// TOP FILTER BAR //////////////////////////////////////////////////////////////////////

	.game-type-container {
		margin-bottom:.82em;
	}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// GAME TILES //////////////////////////////////////////////////////////////////////

	.game-tiles {
		margin: 0 0 em-calc(20) 0;
		.item {
			@include clearfix;
			width:100%;
			position:relative;
			margin-bottom:em-calc(20);
			border-bottom:1px solid $medium-grey;
			padding-bottom:em-calc(20);
			padding-left:15px;
			padding-right:15px;
			a, a:hover, a:focus {
				color:$dark-grey;
			}
			.caption {
				h1 {
					@include sans-serif-bold;
					font-size:em-calc(36);
				}
				time {
					@include sans-serif-medium;
					font-size:em-calc(24);
				}
			}
			img {
				float:right;
				width:25%;
				margin-left:20px;
			}
		}
	}

/////////////////////////////////////////////////////////////////////////////////////////////
/////// GAME TILES //////////////////////////////////////////////////////////////////////

	.mobile-sub-filter {
		margin:em-calc(-20) 0 em-calc(20) 0;
		background-color:$light-grey;
		padding: em-calc(20) 0 em-calc(20) 10px;
	}


}